<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>migCoins</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<servlet>
        <servlet-name>jersey-REST-services</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
             <param-name>jersey.config.server.provider.packages</param-name>
             <param-value>com.mig</param-value>
        </init-param>
		<init-param>
		    <param-name>jersey.config.server.provider.scanning.recursive</param-name>
		    <param-value>true</param-value>
		</init-param>
		<init-param>
		    <param-name>jersey.config.server.tracing</param-name>
		    <param-value>ALL</param-value>
		</init-param>        
  	<!-- Register JAX-RS Application, if needed.  -->
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.mig.coins.server.base.Application</param-value>
        </init-param>	

		<!-- PIEI-19071 Use of MultiPart to provide upload files  -->	
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>jersey-REST-services</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
</web-app>